<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="orderService" class="com.hihonor.proxy.OrderServiceImpl"/>
    <bean id="orderService1" class="com.hihonor.proxy.temp.temp.OrderServiceImpl"/>


<!--    <bean id="before" class="com.hihonor.proxy.Before"/>-->
    <bean id="around" class="com.hihonor.proxy.Around"/>


    <!--切入点:额外功能的加入-->
    <!--目的: 由程序员根据自己的需要，决定额外功能加入给哪个原始方法(register、login)-->
    <!-- 简单的测试：所有方法都做为切入点，都加入额外的功能-->
    <aop:config>
<!--        <aop:pointcut id="test1" expression="args(String,String)"/>-->
<!--        <aop:pointcut id="test1" expression="execution(* *..OrderServiceImpl.*(..))"/>-->
<!--        <aop:pointcut id="test1" expression="within(*..OrderServiceImpl)"/>-->

<!--        <aop:pointcut id="test1" expression="execution(* com.hihonor.proxy.*.*(..))"/>-->
<!--        <aop:pointcut id="test1" expression="within(com.hihonor.proxy.*)"/>-->
<!--        <aop:pointcut id="test1" expression="@annotation(com.hihonor.proxy.annotation.Log)"/>-->
<!--        <aop:pointcut id="test1" expression="execution(* login(String,String))"/>-->
<!--        <aop:pointcut id="test1" expression="execution(* login(..)) and args(String,String)"/>-->
<!--        <aop:pointcut id="test1" expression="execution(* login(..)) and execution(* register(..))"/>-->
        <aop:pointcut id="test1" expression="execution(* login(..)) or execution(* register(..))"/>
        <aop:advisor advice-ref="around"  pointcut-ref="test1"/>
    </aop:config>



</beans>
