<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd">


    <bean id="person" class="com.hihonor.Convert.Person">
        <property name="name" value="xieqiang"/>
        <property name="birth" value="2022-01-01"/>
    </bean>

    <bean id="myConvert" class="com.hihonor.Convert.MyConvert">
        <property name="pattern" value="yyyy-MM-dd"/>
    </bean>

    <bean id="conversionService1" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="myConvert"/>
            </set>
        </property>
    </bean>
</beans>
